h1 {
    font-size: 50px;
    text-align: center;
    color: yellow;
    background: black;
    border: yellow 20px solid;
    border-radius: 10px;
    padding: 100px;
}

p {
    font-size: 40px;
    color: black;
    
}

body {
background-color:orange;
}


